@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

.cursive {
  font-family: "Epilogue", cursive;
  font-weight: 600;
}

.pros img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 120px;
  color: white;
  text-shadow: 0 0 20px rgb(136, 131, 131);
  z-index: 200;
}

.self-portrait {
  height: 25rem;
}

/* .photo-front {
  transform: rotateY(180deg);
  backface-visibility: hidden;
} */

.photo-front:hover {
  transform: rotateY(180deg);
}

.about-text {
  font-family: "Epilogue";
}