@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

.cursive {
  font-family: "Epilogue", cursive;
  font-weight: 600;
}

.home-name {
  font-family: "Epilogue", cursive;
  color: white;
}

.span-color {
  color: #D93636;
}

.self-portrait {
  height: 25rem;
}

.photo-front:hover {
  transform: rotateY(180deg);
}

.about-text {
  font-family: "Epilogue";
}

.home-background {
  background-color: #211313;
}